*{
    font-family: 'Raleway', sans-serif;}
html , body{
    margin: 0;
    padding: 0;
    background-color: #F0f0f0;
    color: rgb(14, 14, 14);
    width: 100%;
}
.hero{
    background-image: url(../img/hero-1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
}
p, a{
font-size: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
h2{
    font-weight: 500;
}
.small{
    background-image: url(../img/1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 20vh;
}
.hero-logo{
    position: absolute;
    left: 0;
    top: 45%;
    margin-top: -10%;
    width: 50%;
    min-height: 200px;
    max-height: 200px;
    padding: 5% 25%;
}
.centered{
    text-align: center;
}
.left-alighn
{
    text-align: left;
}
.w-80{
width: 80%;
margin-left: 10%;
}
.w-50{
    margin: auto;
    width: 70%;
    text-align: center;
}

.mt-30{
    margin-top: 30rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-7{
    margin-top: 7rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-5{
    margin-bottom: 5rem;
}
.btn{
    color: #222;
    padding: 16px;
    text-decoration: none;
    border: 1.2px solid #222;
}
.action{
    background-color: #222;
    color: white;
}
.grid{
    display: grid;
    width: 100%;
    grid-gap: 1rem;
}

img{
    width: 100%;
}
.col-2{
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.col-3{
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.col-3 >* {
align-content: center;
}

@media only screen and (max-width: 1000px){
    .to-1-col{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 650px){
    .to-1-col{
        grid-template-columns: 1fr;
    }
    .w-50{
        margin: 1rem;
        width: auto;
    }
    .hero-logo{
        position: absolute;
        left: 0;
        top: 45%;
        margin-top: -20%;
        width: 70%;
        min-height: 200px;
        padding: 5% 15%;
    }
}
